"C:\Users\Kactp\Desktop\Sem001_Home\Example002\bin"/
"C:\Users\Kactp\Desktop\Sem001_Home\Example002\obj"/
"C:\Users\Kactp\Desktop\Sem001_Home\Example004\bin"/
"C:\Users\Kactp\Desktop\Sem001_Home\Example004\obj"/